@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: "Noto Sans", sans-serif;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.skip-links {
  position: absolute;
  top: -10em;
}

.skip-links a:focus {
  top: 0;
}

.logo {
  margin: 0;
  padding: 1rem 1rem 0;
}

.logo img {
  display: flex;
  flex-wrap: nowrap;
  width: 20%;
  margin: 0;
}

.head {
  background-color: #000;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin-top: .25rem;
  margin-bottom: 0;
}

li {
  display: inline-block;
  padding: 1rem 0;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #fff;
}

a:hover {
  color: #df4a4d;
}

.current {
  color: #df4a4d;
}

.banner-image {
  margin-left: 0;
  display: none;
}

.intro {
  background-color: rgba(255, 0, 0, .7);
  margin: 0;
}

.intro-content {
  margin-left: 1rem;
  padding-bottom: 2rem;
}

.button {
  border: 3px solid;
  color: #262859;
  padding: .5rem;
  font-weight: bold;
}

a.button:hover {
  background-color: #262859;
  border: 3px solid #262859;
  color: #fff;
}

h1 {
  font-size: 1.953rem;
  padding-top: 1rem;
  margin-top: 0;
  margin-bottom: .5rem;
  color: #262859;
}

.learn-more {
  width: 90%;
  margin-bottom: 4rem;
}

.description {
  width: 98%;
}

main {
  margin: 1rem;
}

.drums {
  width: 100%;
}

h2, h3 {
  margin: .5rem  0;
  color: #df4a4d;
}

h4 {
  margin: .5rem 1rem;
  color: #262859;
}

.sound, .about {
  margin: 2rem 0;
}

.sheet {
  width: 100%;
  margin: 0;
}

.music {
  padding: 1rem;
  margin-bottom: 3rem;
  background-color: #fff;
  border: 4px solid #262859;
}

.music-problem {
  background-color: #262859;
  padding: 1rem;
}

.music-paragraph {
  color: #fff;
}

.problem {
  margin-top: .5rem;
}

.paragraph {
  margin: .5rem 0;
}

.explanation {
  margin: .5rem 0 0;
  width: 95%;
}

.day-one,
.day-two {
  margin: 1rem 2rem;
  padding: 1rem 0 2rem;
  background-color: #262859;
  color: #fff;
  text-align: center;
  width: 80%;
}

.day-one {
  margin-top: 3rem;
}

.day-two {
  margin-bottom: 3rem;
}

.ticket-info {
  margin: 1rem 0;
}

.money {
  font-weight: bold;
}

.ticket-button {
  color: #000;
  background-color: #fff;
  border: 3px solid #fff;
  padding: .5rem;
}

a.ticket-button:hover {
  color: #fff;
  background-color: #000;
  border: 3px solid #000;
}

.location {
  width: 100%;
}

.address {
  margin: 1rem;
  color: #262859;
}

.socials {
  text-align: center;
  margin-left: 1rem;
  padding-top: 1rem;
}

footer {
  background-color: #000;
}

.footer-links {
  text-align: center;
}

.audience,
.learn-more {
  text-align: left;
  margin-left: 1rem;
}

.card {
  text-align: center;
  padding-bottom: 2rem;
}

.profile {
  width: 80%;
  margin-top: 2rem;
}

.instructors {
  background-color: #262859;
}

.name {
  margin-bottom: 0;
  margin-top: 0;
}

.instrument {
  margin: 0;
  color: #fff;
}

.audience {
  margin-top: 2rem;
}

.hover-box {
  position: relative;
  overflow: hidden;
}

.hover-box img {
  filter: grayscale(100%);
  transition: all .2s linear;
}

.hover-box:hover img,
.hover-box:focus img {
  filter: grayscale(0);
  transform: scale(1);
}

.instrument-name {
  color: #df4a4d;
}

.trombone {
  width: 70%;
}

.trumpet {
  width: 75%;
}

.flute {
  width: 78%;
}

.saxophone {
  width: 40%;
}

.clarinet {
  width: 50%;
}

.percussion {
  width: 60%;
}

.instrument-description {
  margin-bottom: 1.5rem;
}

.sub-head {
  margin-bottom: 2rem;
}

.form-content {
  margin-bottom: 2rem;
}

.bar,
.drop-down {
  padding: 0 .5rem;
}

@media only screen and (min-width: 25em) {

  h1 {
    width: 90%;
  }

  .learn-more {
    width: 80%;
  }

  .ticket-price {
    margin-bottom: 1.5rem;
  }

  .purchase {
    text-align: center;
  }

  .ticket-header {
    width: 100%;
  }

  label {
    font-size: 1.25rem;
  }

  .bar,
  .drop-down,
  .mop {
    border: 3px solid;
    margin-left: 1rem;
    padding: .75rem;
  }

  .drop-down {
    margin-left: 3rem;
  }

  .mop {
    margin-left: 1rem;
  }

}

@media only screen and (min-width: 38em) {

  .logo img {
    margin: 0;
    width: 80%;
  }

  .logo {
    margin-right: 5rem;
  }

  .head {
    display: flex;
  }

  .nav {
    text-align: right;
    display: inline-block;
  }

  li {
    display: inline-block;
  }

  ul {
    justify-content: flex-end;
  }

  .links a {
    padding: 0 1rem;
  }

  .intro {
    background: #fff;
    display: grid;
    grid-template-columns: 1fr;
  }

  .banner-image {
    display: block;
    width: 100%;
    position: relative;
    opacity: .5;
  }

  .intro-content {
    position: absolute;
    font-weight: bold;
  }

  h1 {
    font-size: 2.441rem;
    width: 100%;
  }

  .about, .sound {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
  }

  .about {
    margin-top: 5rem;
  }

  .description {
    margin-bottom: 1rem;
  }

  .know-us, .sheet {
    grid-column: 2;
    grid-row: 1;
    margin-top: 0;
  }

  .sound {
    margin: 6rem 0;
  }

  .music-problem {
    background-color: #262859;
    padding: 1rem;
    text-align: center;
  }

  .paragraph {
    width: 90%;
    margin-top: 2.5rem;
    grid-column: 2;
    grid-row: 1;
  }

  .find-sound {
    margin-top: 0;
    grid-row: 1;
    grid-column: 1;
  }

  .explanation {
    width: 82%;
    grid-row: 1;
    grid-column: 1;
    margin-top: 5rem;
  }

  .music {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    margin: 5rem 1rem 1rem;
  }

  .music-paragraph {
    width: 80%;
    margin: auto;
    padding-bottom: 1rem;
  }

  .ticket-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
  }

  .day-one {
    margin-top: 1rem;
    margin-bottom: 3rem;
  }

  h4 {
    margin-left: 1rem;
    text-align: center;
  }

  .address {
    margin: 1rem;
    text-align: center;
    width: auto;
  }

  .instructors {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .audience {
    text-align: center;
    margin-top: 2rem;
  }

  .learn-more {
    text-align: center;
    width: 80%;
    margin: auto;
  }

  .maggie {
    width: 75%;
  }

  .isaac {
    width: 74%;
  }

  .mel {
    width: 76%;
  }

  .saxophone {
    width: 30%;
  }

  .alto {
    margin-top: 1rem;
  }

  .clarinet {
    width: 50%;
  }

  .percussion {
    width: 70%;
    margin-top: 4rem;
  }

  footer {
    display: flex;
  }

  .socials {
    margin-top: 1rem;
  }

  .footer-links {
    text-align: right;
  }

}

@media only screen and (min-width: 60em) {

  .logo {
    margin-right: 20rem;
  }

  main {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr;
  }

  h1 {
    font-size: 3.052rem;
  }

  .intro-content {
    margin-top: .5rem;
  }

  .description {
    font-size: 1.563rem;
    width: 65%;
    margin-bottom: 2rem;
  }

  .button {
    font-size: 1.25rem;
  }

  .about, .sound {
    display: inline-block;
  }

  .drums, .sheet {
    grid-row: 1 / span 2;
    grid-column: 1 / span 2;
  }

  .drums {
    margin-top: 1rem;
  }

  .know-us {
    margin-top: 1rem;
    margin-bottom: 0;
  }

  .find-sound {
    margin-top: 1rem;
    margin-bottom: 0;
  }

  .paragraph {
    margin-top: 1rem;
  }

  .explanation {
    margin-top: 1rem;
  }

  .music {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
  }

  .music-problem {
    background-color: #262859;
    padding: 1rem;
    margin-bottom: 2rem;
    text-align: center;
  }

  ul {
    justify-content: flex-end;
  }

  .links a {
    padding: 0 2rem;
  }

  .day-one,
  .day-two {
    width: 60%;
    margin-left: 0;
    margin-right: 0;
  }

  .day-one {
    margin-left: 11.78rem;
  }

  .address {
    width: auto;
  }

  .instructors {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .audience {
    text-align: center;
    margin: auto;
    margin-top: 2rem;
  }

  .learn-more {
    text-align: center;
    width: 60%;
    margin: auto;
    margin-top: 1rem;
  }

  .erica {
    width: 63%;
  }

  .tenor {
    margin-top: 1rem;
  }

  .bari {
    margin-top: 2rem;
  }

  .purchase {
    display: block;
  }

}

@media only screen and (min-width: 90em) {

  .logo {
    margin-right: 55rem;
  }

  .logo img {
    width: 80%;
  }

  .intro-content {
    text-align: center;
    margin-top: 8rem;
    margin-left: 0;
    background-color: rgba(255, 255, 255, .65);
  }

  .description {
    width: 40%;
    margin-left: 30rem;
  }

  .drums,
  .sheet {
    width: 60%;
  }

  .about,
  .sound {
    text-align: center;
  }

  .drums {
    margin-left: 17.5rem;
  }

  .know-us {
    margin-left: 17.5rem;
  }

  .paragraph {
    width: 50%;
    margin-left: 21rem;
  }

  .music-paragraph {
    width: 50%;
  }

  .sheet {
    margin-right: 17.5rem;
  }

  .explanation {
    width: 50%;
    margin-left: 4rem;
  }

  .find-sound {
    margin-right: 17.5rem;
  }

  .day-one,
  .day-two {
    width: 35%;
  }

  .day-one {
    margin-left: 28.9rem;
  }

  .learn-more {
    margin-bottom: 6rem;
  }

  .music {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
  }

  .alto,
  .tenor {
    margin-top: 2rem;
  }

  .clarinet {
    width: 38%;
  }

  .percussion {
    margin-top: 1.2rem;
  }

  .socials {
    margin-right: 57rem;
  }

}
